body {
  overflow-x: hidden;
}
.logo{
    height: 100px;
    width: 120px;
}
.navbar li:hover{
    text-decoration: underline;
}
.btn-primary:hover {
  background-color: #3610df;
  border-color: #3610df;
}
.foot{
    height:300px;
    display: flex;
justify-content: space-around;
    align-items: center;
}
.foot-2{
    height: 50px;
}
.row li:hover{
    text-decoration: underline;
}
.row img{
    cursor: pointer;
}